<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Skills</title>
  </head>
  <body>
    <img src="https://i.imgur.com/43aWexW.png" alt="mandog">
    <main>
      <h1>My Skills</h1>
      <ul>
        <% skills.forEach(function(t) { %>
        <li>
          <a href="/skills/<%= t.id %>"><%= t.skill %></a>
          <%= t.todo %> - years of experience: <%= t.experience%>
        </li>
        <% }); %>
      </ul>
      <nav>or return <a href="/">home</a></nav>
    </main>
  </body>
</html>
