<%- include('../partials/head') %>
<body>
    <img src="https://i.imgur.com/43aWexW.png" alt="mandog" />
    <main>
        <h1>New Skill</h1>
        <nav><a href="/">Home</a> | <a href="/skills">Skills</a></nav>
        <p>Enter New Skill</p>
            <form action="/skills" method="POST" autocomplete="off">
            <input type="text" name="skill" placeholder="New Skill"/>
            <button type="submit">Save</button>
        </form>
    </main>
</body>
</html>