<%- include('partials/head') %>
  <body>
    <img src="https://i.imgur.com/43aWexW.png" alt="mandog">
    <main>
      <h1>Charles MacMillan</h1>
      <nav><a href="/skills">View My Skills</a></nav>
      <p>Welcome to my home-page!</p>
    </main>
  </body>
</html>
